<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Helmet Detection</title>
</head>
<body>
    <h1>Helmet Detection</h1>
    <img id="video" src="{{ url_for('video_feed') }}" width="1024" height="576">
    <br>
    <button onclick="playVideo()">Play</button>
    <button onclick="pauseVideo()">Pause</button>

    <script>
        let videoElement = document.getElementById('video');
        let isPaused = false;

        function playVideo() {
            if (isPaused) {
                videoElement.src = "{{ url_for('video_feed') }}";
                isPaused = false;
            }
        }

        function pauseVideo() {
            if (!isPaused) {
                videoElement.src = "";
                isPaused = true;
            }
        }
    </script>
</body>
</html>
